@use "~bootstrap/scss/bootstrap" as *;

#jumbotron img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

.card-img-top{

    height: 250px;
    object-fit: contain;
}

footer{
    height: 100px;
}
